*{
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
}

@font-face {
    font-family: 'julius';
    src: url(../fonts/Julius_Sans_One/JuliusSansOne-Regular.ttf);
}

@font-face {
    font-family: 'inter';
    src: url(../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: 'jaldi';
    src: url(../fonts/Jaldi/Jaldi-Regular.ttf);
}

a{
    text-decoration: none;
    color: white;
    
}

body{
    background-color: #080808;
}

.container{ /*tela inteira*/
    height: 100%;
    width: 100%;
    position: relative;
    color: white;
    
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.container .header{ /*cabeçalho*/
    background-color: #1A1A1A;
    height: 3vh;
    display: flex;
    align-items: center;
    padding-left: 2%;
    font-family: 'inter';
    font-size: small;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

#nav-bar{ /*barra de navegação*/
    background-color: #080808;
    height: 6vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'inter';
}
#nav-bar #logo{
    width: 16%;
}
#nav-bar img{
    width: 60px;
}
#nav-bar #nav-links{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}
#nav-bar #search{
    background-color: transparent;
    height: 60%;
    width: 16%;
    border-radius: 30px;
    display: flex;
    border: 1px solid white;
    padding-left: 20px;
    align-items: center;
    justify-content: space-between;
}
#nav-bar #search img{
    width: 30px;
    height: 30px;
}
#nav-bar #search input{
    background-color: transparent;
    border: none;
    color: white;
    width: 80%;
    height: 100%;
    outline: none;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

#background{ /*fundo da tela*/
    display: flex;
    flex-direction: column;
    height: 91vh;
    position: relative;
    z-index: -100;
    top: 0;
    left: 0;

}
#background .top {
    background-image: url(../images/indexBackground.jpeg);
    background-position: 0 70%;
    background-size: cover;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'julius';
    
    /* Necessário para o pseudo-elemento se posicionar corretamente */
    position: relative; 
    z-index: 1;
    color: white; 
}
#background .top::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
}
#background .top h1, 
#background .top h2 {
    position: relative;
    z-index: 2;
}
#background .top h1{
    font-size: 3em;
    margin-top: 0.5%;
}
#background .top h2{
    font-size: 1.5em;
}
#background .bottom{
    background-color: #080808;
    height: 50%;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.container #cards{
    position: absolute;;
    z-index: 100;
    top: 46%;
    left: 0;
    display: flex;
    height: 40%;
    width: 100%;;
    justify-content: space-around;
}

.card{
    background-color: #212121;
    width: 16%;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5% ;
    padding-bottom: 0.8%;
}
.card img{
    width: 94%;
    height: 44%;
    border-radius: 18px ;
    object-fit: cover;
    margin-bottom: 5%;
}
.card h1{
    color: #F5D696;
    font-family: 'julius';
    font-size: 1.8em;
}