# Configurações do Banco de Dados MySQL
DB_HOST=localhost
DB_USER=root
DB_PASS=277353
DB_NAME=instituto_bravo

# Porta do Servidor
PORT=3000

# Chaves de Segurança (Autenticação Local)
JWT_SECRET=instituto_bravo_chave_secreta_jwt_2026
SESSION_SECRET=instituto_bravo_chave_sessao_2026
FRONTEND_URL=http://localhost:3000

# Envio de E-mails (Nodemailer / SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=seu_email@gmail.com
SMTP_PASS=sua_senha_de_app

# Upload de Imagens (Cloudinary)
CLOUDINARY_CLOUD_NAME=nome_cloudinary
CLOUDINARY_API_KEY=sua_api_key
CLOUDINARY_API_SECRET=sua_api_secret