DB_HOST=localhost
DB_USER=root
DB_PASS=senha
DB_NAME=nome_banco
PORT=3000
FIREBASE_STORAGE_BUCKET=link_storage
CLOUDINARY_CLOUD_NAME=nome_cloudinary
CLOUDINARY_API_KEY=cloudinary_api
CLOUDINARY_API_SECRET=cloudinary_api_secret